.square {
  width: 100px;
  height: 100px;
  background-color: #73dab2;
}

.flex {
  margin: 10px;
}

.flexOne {
  display: flex;
}

.flexOne > .square {
  margin: 5px;
}

.flexTwo {
  display: flex;
  flex-direction: column;
}

.flexTwo > .square {
  margin: 2px;
}

.flexThree {
  display: flex;
  flex-direction: row-reverse;
}

.flexThree > .square {
  margin: 2px;
}

.flexFour {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}

.flexFour > .square {
  margin: 5px;
  background-color: #3d8d6d;
}

.flexFive {
  display: flex;
  width: 350px;
}

.flexFive > .item {
  background-color: #0b6643;
  width: 100px;
  height: 100px;
  margin: 2px;
}

.flexFive > #grow {
  flex-grow: 2;
}

.flexSix {
  height: 400px;
  width: 500px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.flexSix > :is(.one, .two, .three) {
  display: flex;
}

.flexSix > .one {
  justify-content: space-around;
}

.flexSix > .two {
  justify-content: space-between;
  margin-block: 50px;
  background-color: #d6d6d6;
}

.flexSix > .three {
  justify-content: space-evenly;
}

.flexSeven {
  height: 400px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
}

.flexSeven > :is(.one, .two, .three, .four) {
  display: flex;
  flex-direction: column;
}

.flexSeven > .one {
  justify-content: center;
}

.flexSeven > .two {
  justify-content: flex-end;
  background-color: #d6d6d6;
}

.flexSeven > .three {
  justify-content: flex-start;
}

.flexSeven > .four {
  justify-content: space-between;
  background-color: #d6d6d6;
}

.flexEight {
  display: flex;
  width: 300px;
  height: 400px;
  background-color: #eeeeee;
}

.flexEight > :is(.one, .two, .three) {
  display: flex;
}

.flexEight > .one {
  align-items: center;
}

.flexEight > .two {
  align-items: flex-end;
}

.flexEight > .three {
  align-items: flex-start;
}

.flexNine {
  height: 250px;
  width: 450px;
  display: flex;
  background-color: #eeeeee;
  align-items: flex-start;
  justify-content: space-evenly;
}

.flexNine > #special {
  align-self: flex-end;
}
